@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #230d4c;
  --foreground: hsl(260, 20%, 25%);
  --muted: hsl(250, 12%, 80%);
  --muted-foreground: hsl(260, 10%, 45%);
  --popover: hsl(250, 15%, 85%);
  --popover-foreground: hsl(260, 20%, 25%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(260, 20%, 25%);
  --border: hsl(250, 10%, 88%);
  --input: hsl(250, 10%, 88%);
  --primary: hsl(260, 80%, 30%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(250, 20%, 92%);
  --secondary-foreground: hsl(260, 20%, 25%);
  --accent: hsl(245, 25%, 88%);
  --accent-foreground: hsl(260, 20%, 25%);
  --destructive: hsl(0, 45%, 35%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --ring: hsl(260, 30%, 70%);
  --radius: 0.75rem;
  --success: hsl(140, 45%, 55%);
  --success-foreground: hsl(0, 0%, 100%);
  --warning: hsl(35, 85%, 60%);
  --warning-foreground: hsl(0, 0%, 100%);
  --neutral: hsl(250, 15%, 85%);
}

.dark {
  --background: #230d4c;
  --foreground: hsl(250, 25%, 92%);
  --muted: hsl(260, 15%, 15%);
  --muted-foreground: hsl(250, 15%, 65%);
  --popover: hsl(260, 20%, 8%);
  --popover-foreground: hsl(250, 25%, 92%);
  --card: hsl(260, 18%, 12%);
  --card-foreground: hsl(250, 25%, 92%);
  --border: hsl(260, 12%, 20%);
  --input: hsl(260, 12%, 20%);
  --primary: hsl(260, 80%, 30%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(260, 15%, 18%);
  --secondary-foreground: hsl(250, 25%, 92%);
  --accent: hsl(260, 15%, 18%);
  --accent-foreground: hsl(250, 25%, 92%);
  --destructive: hsl(0, 45%, 35%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --ring: hsl(260, 30%, 70%);
  --radius: 0.75rem;
  --success: hsl(140, 45%, 55%);
  --success-foreground: hsl(0, 0%, 100%);
  --warning: hsl(35, 85%, 60%);
  --warning-foreground: hsl(0, 0%, 100%);
  --neutral: hsl(260, 20%, 8%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
